In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/out.csv')

In [3]:
len(df)

3258

In [4]:
df['Date']

0       2019-06-09
1       2019-04-28
2       2019-05-18
3       2019-04-18
4       2019-04-08
5       2019-06-30
6       2019-04-23
7       2019-05-13
8       2019-05-15
9       2019-04-14
10      2019-06-01
11      2019-04-18
12      2019-06-11
13      2019-05-29
14      2019-04-21
15      2019-06-06
16      2019-04-18
17      2019-05-16
18      2019-06-11
19      2019-05-07
20      2019-05-01
21      2019-04-27
22      2019-05-11
23      2019-04-25
24      2019-05-26
25      2019-06-21
26      2019-04-10
27      2019-05-09
28      2019-04-22
29      2019-05-30
           ...
3228    2019-02-26
3229    2019-01-12
3230    2019-02-25
3231    2019-01-12
3232    2019-03-30
3233    2019-01-28
3234    2019-03-15
3235    2019-03-08
3236    2019-02-12
3237    2019-03-31
3238    2019-01-11
3239    2019-03-21
3240    2019-03-13
3241    2019-01-25
3242    2019-01-22
3243    2019-01-18
3244    2019-03-25
3245    2019-02-22
3246    2019-02-26
3247    2019-02-13
3248    2019-02-21
3249    2019-02-18
3250    2019-03-18
3251    2019-03-20
3252    2019-03-13
3253    2019-01-06
3254    2019-01-24
3255    2019-01-09
3256    2019-02-04
3257    2019-03-04
Name: Date, Length: 3258, dtype: object

In [5]:
df['Month'] = df['Date'].apply(lambda x: ((int(x[5:7])-1) * 2) + 1 if int(x[8:]) > 15 else (int(x[5:7])-1) * 2)

In [6]:
s = df.groupby('Date')[df.columns[6]].mean()

In [7]:
s

Date
2019-01-01     986.000000
2019-01-02     878.833333
2019-01-03     918.111111
2019-01-04     894.055556
2019-01-05     857.055556
2019-01-06     870.000000
2019-01-07     932.666667
2019-01-08     962.388889
2019-01-09     961.277778
2019-01-10     989.833333
2019-01-11    1052.805556
2019-01-12     905.000000
2019-01-13     848.416667
2019-01-14    1002.111111
2019-01-15    1107.722222
2019-01-16    1000.055556
2019-01-17     966.833333
2019-01-18     941.500000
2019-01-19    1056.722222
2019-01-20     859.277778
2019-01-21     870.055556
2019-01-22     907.055556
2019-01-23     944.388889
2019-01-24     915.277778
2019-01-25     976.277778
2019-01-26    1039.055556
2019-01-27     876.722222
2019-01-28     893.111111
2019-01-29     951.111111
2019-01-30     932.638889
                 ...
2019-06-01     889.166667
2019-06-02     834.333333
2019-06-03     901.055556
2019-06-04     900.444444
2019-06-05     930.277778
2019-06-06     963.833333
2019-06-07     950.611111
2019-06-08     918.722222
2019-06-09     876.500000
2019-06-10     947.000000
2019-06-11    1014.777778
2019-06-12     930.555556
2019-06-13    1039.611111
2019-06-14     969.333333
2019-06-15     920.500000
2019-06-16     855.333333
2019-06-17     915.388889
2019-06-18     997.833333
2019-06-19     918.555556
2019-06-20     953.722222
2019-06-21     974.722222
2019-06-22     933.500000
2019-06-23     839.388889
2019-06-24     892.277778
2019-06-25     917.388889
2019-06-26     942.388889
2019-06-27     949.888889
2019-06-28     984.333333
2019-06-29     905.888889
2019-06-30    1032.638889
Name: Daily Mean Travel Time, Length: 181, dtype: float64

In [8]:
from matplotlib import pyplot
from statsmodels.tsa.seasonal import seasonal_decompose
series = np.array(s)
result = seasonal_decompose(series, model='additive', freq=30)
result.plot()
pyplot.show()

In [9]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [10]:
model = SARIMAX(series)

In [30]:
model.summary()

AttributeError: 'SARIMAX' object has no attribute 'summary'

In [11]:
my_order = (1, 1, 1)
my_seasonal_order = (1, 1, 1, 30)
# define model
model = SARIMAX(series, order=my_order, seasonal_order=my_seasonal_order,enforce_invertibility=False)

In [12]:
model_fit = model.fit()
model_fit.forecast(30)

array([920.91704251, 916.28835562, 885.14940203, 899.57061857,
       901.90687603, 899.12632512, 974.93420431, 927.31135304,
       912.21398457, 909.93271108, 894.97773724, 908.41121779,
       953.38038475, 994.03567631, 919.18030988, 905.00535124,
       915.06349278, 973.81906987, 906.5014019 , 919.63614509,
       923.05194926, 909.40362983, 919.13182195, 899.00735907,
       942.48352281, 886.76405015, 903.22141585, 924.779207  ,
       896.02471202, 945.22875658])

In [13]:
series

array([ 986.        ,  878.83333333,  918.11111111,  894.05555556,
        857.05555556,  870.        ,  932.66666667,  962.38888889,
        961.27777778,  989.83333333, 1052.80555556,  905.        ,
        848.41666667, 1002.11111111, 1107.72222222, 1000.05555556,
        966.83333333,  941.5       , 1056.72222222,  859.27777778,
        870.05555556,  907.05555556,  944.38888889,  915.27777778,
        976.27777778, 1039.05555556,  876.72222222,  893.11111111,
        951.11111111,  932.63888889, 1005.75      , 1051.27777778,
        973.72222222,  800.36111111,  952.72222222,  921.88888889,
        938.27777778, 1246.88888889, 1091.41666667,  914.94444444,
        861.52777778,  943.22222222,  955.83333333, 1075.55555556,
       1097.80555556,  965.88888889,  906.        ,  923.        ,
        832.38888889,  980.94444444,  980.33333333,  977.61111111,
        946.08333333,  997.88888889,  869.27777778, 1026.66666667,
        967.72222222,  999.5       , 1073.61111111,  974.88888889,
        954.44444444,  796.11111111,  929.88888889, 1030.83333333,
       1022.33333333, 1011.55555556,  951.16666667,  901.5       ,
        857.        ,  917.66666667,  921.11111111,  970.44444444,
        972.72222222,  979.88888889,  997.66666667,  889.11111111,
        911.38888889,  937.        ,  985.41666667,  962.66666667,
       1080.16666667,  974.33333333,  887.55555556,  982.11111111,
        915.05555556,  941.16666667,  921.22222222,  908.66666667,
        888.44444444,  863.38888889,  981.83333333,  928.        ,
        937.11111111,  911.77777778,  938.        ,  887.22222222,
        877.16666667,  974.66666667,  918.33333333,  949.47222222,
        943.5       ,  918.72222222,  911.05555556,  895.11111111,
        876.88888889,  900.77777778,  930.11111111,  953.72222222,
        950.38888889,  905.38888889,  862.5       ,  918.22222222,
        934.44444444,  942.16666667,  969.94444444,  980.13888889,
        933.11111111,  858.61111111,  881.        ,  883.27777778,
        932.66666667,  939.11111111,  928.72222222,  889.11111111,
        837.83333333,  922.72222222,  893.88888889,  915.38888889,
        933.11111111,  927.61111111,  888.94444444,  813.33333333,
        958.66666667,  906.        , 1028.27777778,  965.38888889,
        952.66666667,  940.72222222, 1161.83333333,  933.66666667,
        906.5       ,  936.22222222,  947.38888889,  905.11111111,
        892.38888889,  862.05555556,  832.33333333,  957.16666667,
        930.58333333,  948.88888889,  950.77777778,  889.16666667,
        834.33333333,  901.05555556,  900.44444444,  930.27777778,
        963.83333333,  950.61111111,  918.72222222,  876.5       ,
        947.        , 1014.77777778,  930.55555556, 1039.61111111,
        969.33333333,  920.5       ,  855.33333333,  915.38888889,
        997.83333333,  918.55555556,  953.72222222,  974.72222222,
        933.5       ,  839.38888889,  892.27777778,  917.38888889,
        942.38888889,  949.88888889,  984.33333333,  905.88888889,
       1032.63888889])

In [14]:
s

Date
2019-01-01     986.000000
2019-01-02     878.833333
2019-01-03     918.111111
2019-01-04     894.055556
2019-01-05     857.055556
2019-01-06     870.000000
2019-01-07     932.666667
2019-01-08     962.388889
2019-01-09     961.277778
2019-01-10     989.833333
2019-01-11    1052.805556
2019-01-12     905.000000
2019-01-13     848.416667
2019-01-14    1002.111111
2019-01-15    1107.722222
2019-01-16    1000.055556
2019-01-17     966.833333
2019-01-18     941.500000
2019-01-19    1056.722222
2019-01-20     859.277778
2019-01-21     870.055556
2019-01-22     907.055556
2019-01-23     944.388889
2019-01-24     915.277778
2019-01-25     976.277778
2019-01-26    1039.055556
2019-01-27     876.722222
2019-01-28     893.111111
2019-01-29     951.111111
2019-01-30     932.638889
                 ...
2019-06-01     889.166667
2019-06-02     834.333333
2019-06-03     901.055556
2019-06-04     900.444444
2019-06-05     930.277778
2019-06-06     963.833333
2019-06-07     950.611111
2019-06-08     918.722222
2019-06-09     876.500000
2019-06-10     947.000000
2019-06-11    1014.777778
2019-06-12     930.555556
2019-06-13    1039.611111
2019-06-14     969.333333
2019-06-15     920.500000
2019-06-16     855.333333
2019-06-17     915.388889
2019-06-18     997.833333
2019-06-19     918.555556
2019-06-20     953.722222
2019-06-21     974.722222
2019-06-22     933.500000
2019-06-23     839.388889
2019-06-24     892.277778
2019-06-25     917.388889
2019-06-26     942.388889
2019-06-27     949.888889
2019-06-28     984.333333
2019-06-29     905.888889
2019-06-30    1032.638889
Name: Daily Mean Travel Time, Length: 181, dtype: float64